@import "tailwindcss";
@import "./styles/primeng-theme.css";
@import "primeicons/primeicons.css";

@theme {
  --color-primary: #06b6d4;
  --color-secondary: #8b5cf6;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

html, body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}